In [ ]:
import pandas as pd

In [ ]:
# We import our main data
df = pd.ExcelFile("/content/KPMG_VI_New_raw_data_update_final.xlsx")
# Extract the sheets and store them in separate DataFrames
transactions_df = pd.read_excel(df, 'Transactions', header=1)
customer_demographic_df = pd.read_excel(df, 'CustomerDemographic', header=1)
customer_address_df = pd.read_excel(df, 'CustomerAddress', header=1)

<ipython-input-2-3258392e87c7>:5: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demographic_df = pd.read_excel(df, 'CustomerDemographic', header=1)

In [ ]:
new_customer_list_df = pd.read_excel(df, 'NewCustomerList', header=1)

In [ ]:
# We join the data sets using the column 'customer_id'.
merged_df = pd.merge(transactions_df, customer_demographic_df, on='customer_id')
merged_df = pd.merge(merged_df, customer_address_df, on='customer_id')

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19968 entries, 0 to 19967
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       19968 non-null  int64
 1   product_id                           19968 non-null  int64
 2   customer_id                          19968 non-null  int64
 3   transaction_date                     19968 non-null  datetime64[ns]
 4   online_order                         19609 non-null  float64
 5   order_status                         19968 non-null  object
 6   brand                                19773 non-null  object
 7   product_line                         19773 non-null  object
 8   product_class                        19773 non-null  object
 9   product_size                         19773 non-null  object
 10  list_price                           19968 non-null  float64
 11  standard_cost                        19773 non-null  float64
 12  product_first_sold_date              19773 non-null  float64
 13  first_name                           19968 non-null  object
 14  last_name                            19326 non-null  object
 15  gender                               19968 non-null  object
 16  past_3_years_bike_related_purchases  19968 non-null  int64
 17  DOB                                  19522 non-null  datetime64[ns]
 18  job_title                            17589 non-null  object
 19  job_industry_category                16746 non-null  object
 20  wealth_segment                       19968 non-null  object
 21  deceased_indicator                   19968 non-null  object
 22  default                              18517 non-null  object
 23  owns_car                             19968 non-null  object
 24  tenure                               19522 non-null  float64
 25  address                              19968 non-null  object
 26  postcode                             19968 non-null  int64
 27  state                                19968 non-null  object
 28  country                              19968 non-null  object
 29  property_valuation                   19968 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(17)
memory usage: 4.7+ MB

In [ ]:
# Count the number of duplicate rows
duplicates = transactions_df.duplicated().sum()
# Showing
print(f'There are {duplicates} duplicate rows in transactions_df')

There are 0 duplicate rows in transactions_df

In [ ]:
# We remove the hidden columns
merged_df = merged_df.drop(["first_name","last_name","default"], axis=1)

In [ ]:
merged_df['job_title'] = merged_df['job_title'].fillna('Other')
merged_df['job_industry_category'] = merged_df['job_industry_category'].fillna('Other')

In [ ]:
merged_df["online_order"].value_counts()

1.0    9818
0.0    9791
Name: online_order, dtype: int64

In [ ]:
merged_df = merged_df.dropna()

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18986 entries, 0 to 19967
Data columns (total 27 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       18986 non-null  int64
 1   product_id                           18986 non-null  int64
 2   customer_id                          18986 non-null  int64
 3   transaction_date                     18986 non-null  datetime64[ns]
 4   online_order                         18986 non-null  float64
 5   order_status                         18986 non-null  object
 6   brand                                18986 non-null  object
 7   product_line                         18986 non-null  object
 8   product_class                        18986 non-null  object
 9   product_size                         18986 non-null  object
 10  list_price                           18986 non-null  float64
 11  standard_cost                        18986 non-null  float64
 12  product_first_sold_date              18986 non-null  float64
 13  gender                               18986 non-null  object
 14  past_3_years_bike_related_purchases  18986 non-null  int64
 15  DOB                                  18986 non-null  datetime64[ns]
 16  job_title                            18986 non-null  object
 17  job_industry_category                18986 non-null  object
 18  wealth_segment                       18986 non-null  object
 19  deceased_indicator                   18986 non-null  object
 20  owns_car                             18986 non-null  object
 21  tenure                               18986 non-null  float64
 22  address                              18986 non-null  object
 23  postcode                             18986 non-null  int64
 24  state                                18986 non-null  object
 25  country                              18986 non-null  object
 26  property_valuation                   18986 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(14)
memory usage: 4.1+ MB

In [ ]:
merged_df["state"].value_counts()

NSW                9671
VIC                4330
QLD                4065
New South Wales     462
Victoria            458
Name: state, dtype: int64

In [ ]:
# Delete the rows where the column 'deceased_indicator' is equal to 'Y'.
merged_df = merged_df[merged_df['deceased_indicator'] != 'Y']

In [ ]:
merged_df = merged_df[merged_df["customer_id"] != 34]

In [ ]:
# We will create a mapping dictionary to standardize the values of the "gender" column.
gender_map = {'F': 'Female', 'Femal': 'Female', 'M': 'Male'}

# We apply the mapping to the column "gender".
merged_df['gender'] = merged_df['gender'].replace(gender_map)

In [ ]:
# Replace "Argiculture" with "Agriculture" in the column "job_industry_category".
merged_df['job_industry_category'] = merged_df['job_industry_category'].replace('Argiculture', 'Agriculture')

In [ ]:
# Replace the values in the column 'state'.
merged_df['state'] = merged_df['state'].replace({'VIC': 'Victoria', 'NSW': 'New South Wales', 'QLD': 'Queensland'})
print(merged_df['state'].value_counts())

New South Wales    10125
Victoria            4788
Queensland          4057
Name: state, dtype: int64

In [ ]:
# We capitalize the columns 'product_class' and 'product_size'.
merged_df['product_class'] = merged_df['product_class'].str.capitalize()
merged_df['product_size'] = merged_df['product_size'].str.capitalize()

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18970 entries, 0 to 19967
Data columns (total 27 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       18970 non-null  int64
 1   product_id                           18970 non-null  int64
 2   customer_id                          18970 non-null  int64
 3   transaction_date                     18970 non-null  datetime64[ns]
 4   online_order                         18970 non-null  float64
 5   order_status                         18970 non-null  object
 6   brand                                18970 non-null  object
 7   product_line                         18970 non-null  object
 8   product_class                        18970 non-null  object
 9   product_size                         18970 non-null  object
 10  list_price                           18970 non-null  float64
 11  standard_cost                        18970 non-null  float64
 12  product_first_sold_date              18970 non-null  float64
 13  gender                               18970 non-null  object
 14  past_3_years_bike_related_purchases  18970 non-null  int64
 15  DOB                                  18970 non-null  datetime64[ns]
 16  job_title                            18970 non-null  object
 17  job_industry_category                18970 non-null  object
 18  wealth_segment                       18970 non-null  object
 19  deceased_indicator                   18970 non-null  object
 20  owns_car                             18970 non-null  object
 21  tenure                               18970 non-null  float64
 22  address                              18970 non-null  object
 23  postcode                             18970 non-null  int64
 24  state                                18970 non-null  object
 25  country                              18970 non-null  object
 26  property_valuation                   18970 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(6), object(14)
memory usage: 4.1+ MB

In [ ]:
merged_df.to_excel("data_clean.xlsx",index=False)